.col-1{width: 8.33%;}
.col-2{width: 16.6%;}
.col-3{width: 25%;}
.col-4{width: 33.3%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.6%;}
.col-9{width: 75%;}
.col-10{width: 83.3%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.header-top-height{height: 200px;}
.main-header-height{height: 200px;}
.menu-height{height: 100px;}
.content-height{height: 400px;}
.footer-height{height: 100px;}

[class*="col-"]{

	border: 1px solid;
	float:left;
	box-sizing: border-box;
}

.ul-main{

	list-style-type: none;
    margin: 0px;
    padding: 0px;


}

.ul-main li{
	width: 250px;
	border:1px solid;
	float:left;
	text-align:center;
	box-sizing: border-box;
}

.ul-main li a{

	text-decoration: none;
	border:1px solid;
	display:block;
	height:98px;
	padding-top: 30px;
	box-sizing: border-box;
	background-color:black;
	color:yellow;
	transition: 0s;

}

.ul-main li a:hover{

	background-color: red;
	color:white;
}
.div-one{

    height: 200px;
	width: 200px;
	background-color: red;
	margin:50px 0px 0px 70px ;
	border-radius:100px 100px 100px 100px;
}

.div-two{
    height: 100px;
   	width:200px;
   	background-color: red;
    margin:0px 0px 200px 500px;
    border-radius: 100px 100px 0px 0px;
   }
	

  



